@inherits LayoutComponentBase

<FluentToastProvider />
<FluentDialogProvider />
<FluentTooltipProvider />
<FluentMessageBarProvider />

<FluentMainLayout NavMenuTitle="Navigation menu">
    <Header>Pseudo Timeline UI Sample</Header>
    <Body>
        @Body
    </Body>
    <NavMenuContent>
        <NavMenu />
    </NavMenuContent>
</FluentMainLayout>